<div class="fonts-manager-wrapper">
    <button class="tool-button" mat-icon-button (click)="toggle()"><mat-icon matTooltip="Change font">format_color_fill</mat-icon></button>
    <mat-card *ngIf="isEnabled" class="lgos-fonts-manager-wrapper">
        <mat-card-title>
            Change font
        </mat-card-title>
        <mat-card-content>
          <mat-form-field>
            <mat-select placeholder="Pick a font">
              <mat-option (click)="setFont(font)" *ngFor="let font of fonts.google.families">
                <p [ngStyle]="{'font-family': font}">{{font}}</p>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>