<md-toolbar color="accent">
    <h2>Overlay Form</h2>
    <span class="spacer"></span>
    <md-icon class="example-icon">delete</md-icon>
</md-toolbar>
<md-sidenav-container class="sidenav-container">
    <md-sidenav #sidenav class="sidenav" mode="side" opened="true">
        <div class="sidenav-content">
            <md-tab-group class="side-tabs">
                <md-tab label="upload" class="side-tab">
                    <div class="side-upload-btn">
                        <input-file (onFileSelect)="onFileSelect($event)" [accept]="'image/*'"></input-file>
                    </div>
                </md-tab>
                <md-tab label="add text">
                    <div>
                        <md-form-field class="example-full-width">
                            <textarea rows="2" cols="50" mdInput autocomplete="off"></textarea>
                        </md-form-field>
                        <button md-raised-button color="primary">Add text</button>
                    </div>
                </md-tab>
                <md-tab label="Layers">
                    <div class="side-layers">
                        <div class="thumbnails" #thumbnails lgosSortable [thumbnails]="uploadImgs" (updateOrder)="onOrderUpdate($event)">
                            <md-card [id]="elm.id" class="thumbnail-card" *ngFor="let elm of uploadImgs; let i = index;">
                                <md-card-title>{{elm.id}}</md-card-title>
                                <md-card-content>
                                    <div class="thumbnail">
                                        <img [src]="elm.src" alt="">
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                </md-tab>
            </md-tab-group>
        </div>
    </md-sidenav>
    <md-card class="draw-area">
        <md-card-content>
            <div class="playground" #playground *ngIf="uploadImgs.length > 0">
                <div [style.zIndex]="elm.level" class="draggable-wrap" *ngFor="let elm of uploadImgs">
                    <img [src]="elm.src" alt="">
                </div>
            </div>
        </md-card-content>
    </md-card>
</md-sidenav-container>