@import 'http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css';
md-radio-group {
    display: block;
}

md-radio-button {
    margin: 10px;
}

md-sidenav {
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.sidenav-container {
    margin: 0 auto;
    padding: 20px 0;
}

.sidenav {
    width: 400px;
}

.side-upload-btn {
    margin: 20px auto;
    max-width: 110px;
}

.draw-area {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}

.side-layers {
    width: 100%;
    padding: 24px;
    margin: 3px auto;
}

.thumbnail-card {
    margin: 0 4px 4px 4px;
}

.thumbnail-card img {
    width: 100%;
}

.thumbnail-card md-card-title {
    font-size: 16px;
}

.playground {
    position: relative;
    width: 800px;
    height: 800px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.draggable-wrap {
    position: absolute;
    display: inline-block;
    z-index: 0;
}

.draggable-wrap img {
    width: 100%;
}