@import url("//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css");

.draw-header{
    position: relative;
}

mat-radio-group {
    display: block;
}

mat-radio-button {
    margin: 10px;
}

mat-sidenav {
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
    width: 400px;
}

.tools {
    display: flex;
    flex-direction: row-reverse;
}

.tools>* {
    cursor: pointer;
}

.sidenav-container {
    margin: 0 auto;
    padding: 0;
}

.side-upload-btn {
    margin: 0 auto;
    max-width: 110px;
}

.lgos-input-full-width {
    width: 100%;
}

.side-layers {
    width: 100%;
    padding: 24px;
    margin: 3px auto;
}

.thumbnail-card {
    margin: 0 4px 4px 4px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.thumbnail-img {
    width: 40%;
    margin-bottom: 0;
}

.thumbnail-img img {
    width: 100%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.thumbnail-card mat-card-title {
    font-size: 16px;
}

.playground {
    position: relative;
    width: 800px;
    height: 800px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.draw-area {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    background: #ebeced;
}

.draw-area br {
    display: none;
}

.draggable-wrap {
    position: absolute;
    display: inline-block;
    z-index: 0;
    box-sizing: border-box;
    transition: .5s background-color ease;
    -webkit-transition: .5s background-color ease;
    -moz-transition: .5s background-color ease;
}

.draggable-wrap {
    cursor: move;
}

p[contenteditable="true"] {
    cursor: text;
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    border: 1px dashed #777;
}


/* .draggable-wrap:hover:not(.isSelected) {
    cursor: move;
} */

.draggable-wrap>* {
    outline: none;
    padding: 0;
    margin: 0;
}

.draggable-wrap img {
    width: 100%;
    height: 100%;
}

.isSelected {
    outline: 1px dashed red;
    background: rgba(255, 255, 255, 0.6);
}

.text-resize {
    display: block;
    margin: 0;
    width: 50px;
}

.text-resize .mat-expansion-panel-header {
    padding: 0;
}

.text-resize .mat-expansion-panel-header-title {
    margin: 0;
}

.text-resize .mat-icon {
    margin: 0 auto;
}