<md-card class="card-spacer">
    <md-card-title>
        <h3>Login form</h3>
    </md-card-title>
    <md-card-content>
        <form class="login-form" autocomplete="off">
            <md-form-field class="example-full-width">
                <input mdInput type="mail" placeholder="email" autocomplete="nope">
            </md-form-field>
            <md-form-field class="example-full-width">
                <input mdInput type="password" placeholder="Password" autocomplete="off">
            </md-form-field>
        </form>
    </md-card-content>
    <md-card-actions>
        <button md-raised-button color="primary">Let me in...</button>
    </md-card-actions>
</md-card>