.font-size-selector {
    display: none;
    position: relative;
    z-index: 2;
}

.font-size-slider {
    position: absolute;
    top: 12px;
    height: 200px;
    right: 0;
}

.font-size-slider .mat-slider-vertical {
    height: 100%;
}

.font-size-selector.isOpen {
    display: block;
}