.resize-tool-wrapper{
    position: relative;
}
.lgos-text-resize {
    position: absolute;
    top: 52px;
    left: -48px;
    z-index: 2;
    max-width: 300px;
    display: none;
}

.lgos-text-resize.isOpen {
    display: block;
}

.lgos-text-resize:before {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    right: 50px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
}

.font-size-selector {
    display: none;
    position: relative;
    z-index: 2;
}

.font-size-slider {
    height: 200px;
}

.font-size-slider .mat-slider-vertical {
    height: 100%;
}

.font-size-selector {
    display: block;
}