<section class="register">
    <mat-card class="card-spacer">
        <mat-card-title>
            <h3>Register form</h3>
        </mat-card-title>
        <mat-card-content>
            <form class="register-form" [formGroup]="registerForm" (ngSubmit)="submitHandler()" novalidate>
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" placeholder="Fist Name" minlength="2" formControlName="firstName" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="firstName.hasError('minlength') && !firstName.hasError('required')">
                        Please enter a valid name
                    </mat-error>
                    <mat-error *ngIf="firstName.hasError('required')">
                        First Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" placeholder="Last Name" minlength="2" formControlName="lastName" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="lastName.hasError('minlength') && !lastName.hasError('required')">
                        Please enter a valid name
                    </mat-error>
                    <mat-error *ngIf="lastName.hasError('required')">
                        Last Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput type="mail" placeholder="email" formControlName="email" [errorStateMatcher]="matcher">
                    <!-- <mat-hint>Any message could be here</mat-hint> -->
                    <!--<mat-error *ngIf="email.hasError('email') && !email.hasError('required')">-->
                        <!--Please enter a valid email address-->
                    <!--</mat-error>-->
                    <mat-error *ngIf="email.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="email.hasError('emailPattern') && !email.hasError('required')">
                        Please enter a <strong>valid</strong> email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="password-input" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" minlength="6" formControlName="password" [errorStateMatcher]="matcher">
                    <div *ngIf="password.dirty || password.touched" class="password-strength {{passwordStrengthName}}">
                        {{passwordStrengthName}}
                        <!--<ul>-->
                            <!--<li *ngFor="let bar of passwordStrength"></li>-->
                        <!--</ul>-->
                    </div>
                    <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
                        Password must be at least 6 characters
                    </mat-error>
                    <mat-error *ngIf="password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Repeat Password</mat-label>
                    <input matInput type="password" placeholder="repeat password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="confirmPassword.hasError('mismatch')">
                        Passwords <strong>must match</strong>
                    </mat-error>
                    <mat-error *ngIf="confirmPassword.hasError('required')">
                        Password confirmation is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-checkbox formControlName="allowPromoEmails">Agree to recieve promotional emails</mat-checkbox>
                <div class="action-button-wrapper">
                    <button mat-raised-button color="primary" [disabled]="registerForm.invalid">
                        <mat-icon>done</mat-icon>
                        Sign me up!</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</section>
