<mat-toolbar color="primary" role="header" class="header">
    <span>Leni Graphics Overlay System</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item>
            <mat-icon>fingerprint</mat-icon>
            <span>login</span>
        </button>
        <button mat-menu-item>
            <mat-icon>person_add</mat-icon>
            <span>Sign up</span>
        </button>
    </mat-menu>
</mat-toolbar>

<!-- <lgos-login-form></lgos-login-form>
<lgos-register-form></lgos-register-form> -->
<lgos-draw-form></lgos-draw-form>