<md-toolbar color="primary">
    <span>Leni Graphics Overlay System</span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item>
            <md-icon>fingerprint</md-icon>
            <span>login</span>
        </button>
        <button md-menu-item>
            <md-icon>person_add</md-icon>
            <span>Sign up</span>
        </button>
    </md-menu>
</md-toolbar>

<!-- <lgos-login-form></lgos-login-form>
<lgos-register-form></lgos-register-form> -->
<lgos-draw-form></lgos-draw-form>