<mat-toolbar color="primary" role="header" class="header">
    <span>Leni Graphics Overlay System</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
            <button mat-menu-item>
                    <mat-icon>format_paint</mat-icon>
                    <span routerLink="/draw">Create Image</span>
                </button>
        <button mat-menu-item>
            <mat-icon>fingerprint</mat-icon>
            <span routerLink="/login">Login</span>
        </button>
        <button mat-menu-item>
            <mat-icon>person_add</mat-icon>
            <span routerLink="/register">Sign up</span>
        </button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>