/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
* {
    box-sizing: border-box
}


html,
body,
material-app,
mat-sidenav-container,
.my-content {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #eee;
    outline: none;
}
.ui-rotatable-handle {
    position: absolute;
    z-index: 9;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-image: url('/assets/img/rotate.png');
    /* background-image: url("https://image.flaticon.com/icons/svg/0/22.svg"); */
    background-size: 100%;
    left: calc(50% - 8px);
    bottom: -55px;
    display: none;
    &:before{
        content: '';
        position: absolute;
        display: block;
        border-left:1px dashed #ccc;
        width: 1px;
        height: 30px;
        left: 50%;
        top:-30px;
    }
}
.isSelected .ui-rotatable-handle{
    display: block;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.header {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    margin: 0 0 10px!important;
}

.card-spacer {
    margin: 10px;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.tool-button:hover {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    transition: .7s ease all;
}

.ui-resizable-helper {
    border: 1px dotted #00F;
}

.ui-resizable-n {
    top: -10px!important;
    left: calc(50% - 10px)!important;
    width: 20px!important;
    height: 10px!important;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
}

.ui-resizable-w {
    left: -10px!important;
    top: calc(50% - 10px)!important;
    width: 10px!important;
    height: 20px!important;
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
}

.ui-resizable-e {
    right: -10px!important;
    top: calc(50% - 10px)!important;
    width: 10px!important;
    height: 20px!important;
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
}

.ui-resizable-s {
    bottom: -10px!important;
    left: calc(50% - 10px)!important;
    width: 20px!important;
    height: 10px!important;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.ui-icon-gripsmall-diagonal-se {
    background-image: none!important;
}

.ui-resizable-handle {
    opacity: 0;
    content: '';
    background: #3f4652;
    border: 1px solid #fff;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .15);
}

.isSelected .ui-resizable-handle {
    opacity: 1;
}


/* .ui-resizable-nw {
    left: 13px;
    top: 13px;
}

.ui-resizable-sw {
    left: 13px;
    bottom: 13px;
}

.ui-resizable-ne {
    right: 13px;
    top: 13px;
}

.ui-resizable-se {
    right: 13px;
    bottom: 13px;
} */


/* ANGULAR MATERIALS THEME FIXES  START*/

.sidenav .mat-tab-label {
    min-width: 1px !important;
}

.mat-expansion-panel-body {
    padding: 0!important;
}


/* ANGULAR MATERIALS THEME FIXES  END*/
