@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
    background: #eee;
}

.card-spacer {
    margin: 10px;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}