/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */

* {
    box-sizing: border-box
}

html,
body,
material-app,
md-sidenav-container,
.my-content {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background: #eee;
}

.header {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    margin: 0 0 10px!important;
}

.card-spacer {
    margin: 10px;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.tool-button:hover {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    transition: .7s ease all;
}

.ui-resizable-helper {
    border: 1px dotted #00F;
}

.ui-resizable-se {
    right: -5px!important;
    bottom: -5px!important;
}

.ui-resizable-s {
    cursor: ns-resize!important;
}

.ui-resizable-e {
    cursor: ew-resize!important;
}

.ui-icon-gripsmall-diagonal-se {
    background-image: none!important;
}


/* ANGULAR MATERIALS THEME FIXES  START*/

.sidenav .mat-tab-label {
    min-width: 1px !important;
}

.mat-expansion-panel-body {
    padding: 0!important;
}


/* ANGULAR MATERIALS THEME FIXES  END*/